#### Gitlab ####

GitlabRouterAnchor: &GitlabRouterAnchor
  rule: "Host(`gitlab.devops.top`)"
  service: GitlabSvc
  middlewares:

#### Portainer ####

PortainerRouterAnchor: &PortainerRouterAnchor
  rule: "Host(`portainer.devops.top`)"
  service: PortainerSvc
  middlewares:

#### Rancher ####

RancherRouterAnchor: &RancherRouterAnchor
  rule: "Host(`rancher.devops.top`)"
  service: RancherSvc
  middlewares:

#### Jenkins ####

JenkinsRouterAnchor: &JenkinsRouterAnchor
  rule: "Host(`jenkins.devops.top`)"
  service: JenkinsSvc
  middlewares:

#### Sonarqube ####

SonarqubeRouterAnchor: &SonarqubeRouterAnchor
  rule: "Host(`sonarqube.devops.top`)"
  service: SonarqubeSvc
  middlewares:

#### minio ####

MinioRouterAnchor: &MinioRouterAnchor
  rule: "Host(`minio.devops.top`)"
  service: MinioSvc
  middlewares:

#### rustfs ####

RustfsRouterAnchor: &RustfsRouterAnchor
  rule: "Host(`rustfs.devops.top`)"
  service: RustfsSvc
  middlewares:

#### Fs ####

FRobotsTxtRouterAnchor: &FRobotsTxtRouterAnchor
  rule: "(HostRegexp(`^.+\\.fs\\.top$`) || Host(`fs.top`)) && Path(`/robots.txt`)"
  service: FsRobotsTxtSvc
  middlewares:

#### Http ####

http:
  services:
    GitlabSvc:
      loadBalancer:
        servers:
          - url: "http://gitlab:80"
    # GitlabSshSvc:
    #   loadBalancer:
    #     servers:
    #       - url: "http://gitlab:22"
    JenkinsSvc:
      loadBalancer:
        servers:
          - url: "http://jenkins:8080"
    PortainerSvc:
      loadBalancer:
        servers:
          - url: "http://portainer:9000"
    RancherSvc:
      loadBalancer:
        servers:
          - url: "http://rancher:80"
    SonarqubeSvc:
      loadBalancer:
        servers:
          - url: "http://sonarqube:9000"
    MinioSvc:
      loadBalancer:
        servers:
          - url: "http://minio:9001"
    RustfsSvc:
      loadBalancer:
        servers:
          - url: "http://rustfs:9000"
    FsRobotsTxtSvc:
      loadBalancer:
        servers:
          - url: "http://fs:80/robots.txt"

  middlewares:

  routers:

    #### gitlab ####
    GitlabHttp:
      <<: *GitlabRouterAnchor
      entryPoints:
        - web

    # GitlabSsh:
    #   entryPoints:
    #     - ssh
    #   rule: "HostSNI(`*`)"
    #   service: GitlabSshSvc
    #   middlewares:

    #### jenkins ####

    JenkinsHttp:
      <<: *JenkinsRouterAnchor
      entryPoints:
        - web
      priority: 100

    #### Sonarqube ####

    SonarqubeHttp:
      <<: *SonarqubeRouterAnchor
      entryPoints:
        - web
      priority: 100

    #### minio ####

    MinioHttp:
      <<: *MinioRouterAnchor
      entryPoints:
        - web
      priority: 100

    #### rustfs ####

    RustfsHttp:
      <<: *RustfsRouterAnchor
      entryPoints:
        - web
      priority: 100
    
    #### Portainer ####

    PortainerHttp:
      <<: *PortainerRouterAnchor
      entryPoints:
        - web
      priority: 100

    #### Rancher ####

    RancherHttp:
      <<: *RancherRouterAnchor
      entryPoints:
        - web
      priority: 100

    #### fs ####

    FsRobotsTxtHttp:
      <<: *FRobotsTxtRouterAnchor
      entryPoints:
        - web
      priority: 100
